<table class="companies">
  <thead>
    <tr>
      <td>Name</td>
      <td>Symbol</td>
      <td>Market Cap</td>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td>
          <%=link_to company.name, company_path(company) %>
          <div style="font-size: 10pt;">
            <% begin %>
              Sector: <%=link_to company.industry.sector.name, sector_path(company.industry.sector) %> <br/>
              Industry: <%=link_to company.industry.name, sector_industry_path(company.industry.sector, company.industry)%>
            <% rescue => e %>
              <%=e%>
            <% end %>
          </div>
        </td>
        <td><%=company.stock_symbol %></td>
        <td class="market_cap"><%=number_to_human(company.market_cap).tr('illion', '')%></td>
      </tr>
    <% end %>
  </tbody>
</table>